html {
  background-color: #CAFAFE;
}

/* Nav bar*/

nav {
  background-color: #39ECCE;
}

nav a {
  color: #fc4445 !important;
}

/* Mobile nav */

#mobile-demo {
  background-color: #39ECCE;
}

#mobile-demo a {
  color: #fc4445;
}

/* Logo */

.brand-logo {
  font-family: 'Bebas Neue', cursive;
  color: #fc4445 !important;
  text-shadow: none !important;
  padding: 5px !important;
}

/* Headers */

h1 {
  color: #fc4445;
  font-family: 'Bebas Neue', cursive;
}

#h1-hungry {
  background-color: #CAFAFE;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  color: #fc4445;

}

h4 {
  font-family: 'Bebas Neue', cursive;
  color: #fc4445;

}

h4 a {
  color: #F19090;
}

h4 a i {
  color: #F19090;
}

h5 {
  color: #F19090;
}

/* Parallax containers */

.parallax-container {
  height: 400px;
}

.parallax-container .parallax img {
  opacity: 0.5 !important;
}

/* Flash messages */

.flashes {
  background-color: #F19090;
}

.flashes h4 {
  line-height: 2;
}

/* Buttons */

.btn-small {
  margin: 5px;
}

.btn {
  background-color: #CAFAFE !important;
  color: black !important;
}

.register-link {
  font-weight: bold;
}

/* Icons*/

i {
  color: #fc4445;
}


/* Add/edit review forms */

.datepicker-date-display {
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  background-color: #CAFAFE;
  color: #fc4445 !important;
  padding: 20px 22px;
  font-weight: 500;
}

.datepicker-date-display .year-text {
  color: #fc4445;
}

/* Review accordians */

.collapsible-header {
  background-color: #39ECCE;
}

.collapsible-header .col {
  margin: 5px;
  line-height: 42px;
}

.collapsible-body {
  background-color: #F19090;
  color: black;
}

data-tooltip {
  background: #fc4445;
}

.modal-content {
  color: black;
}

/* Cuisine cards */

#cuisine-card {
  background-color: #39ECCE;
}

.card-title a {
  color: #fc4445;
}

p a {
  color: #fc4445;
}


/* Search feature on reviews page*/

#search-card {
  background-color: #fc4445;
}

.opposite-icon {
  color: #39ECCE;
}

#query {
  color: white;
}

#search-label {
  color: white;
}

/* Footer */

footer {
  background-color: #F19090 !important;
  color: black !important;
}