html {
    background-color: #CAFAFE;
}


.flashes h4 {
    line-height: 2;
}

.datepicker-date-display {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    background-color: blue;
    color: #fff;
    padding: 20px 22px;
    font-weight: 500;
}

.collapsible-header {
    background-color: #39ECCE;
}

.collapsible-body {
    background-color: #fc4445;
    color: white;
}


nav {
    background-color: #39ECCE;
}

nav a  {
    color:#fc4445 !important;
}

.brand-logo {
    font-family: 'Bebas Neue', cursive;
    color: #fc4445 !important;
    text-shadow: none !important;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col {
    margin: 5px;
    line-height: 42px;
}

.fa-burger, .fa-pizza-slice, .fa-ice-cream {
    color: #fc4445;
  }

h3 {
    font-family: 'Bebas Neue', cursive;
    color: #fc4445;

  }

.btn {
background-color: #CAFAFE !important;
color: black !important;
}
  
.modal-content {
    color: black;
}

i {
    color: #fc4445;

}