html {
    background-color: #CAFAFE;
}

.flashes {
    background-color: #F19090;
}


.flashes h4 {
    line-height: 2;
}

h1 {
    color: #fc4445;
}

.datepicker-date-display {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    background-color: #CAFAFE;
    color: #fc4445 !important;
    padding: 20px 22px;
    font-weight: 500;
}

.datepicker-date-display .year-text {
    color: #fc4445;
}

.collapsible-header {
    background-color: #39ECCE;
}

.collapsible-body {
    background-color: #F19090;
    color: white;
}


nav {
    background-color: #39ECCE;
}

nav a  {
    color:#fc4445 !important;
}

.brand-logo {
    font-family: 'Bebas Neue', cursive;
    color: #fc4445 !important;
    text-shadow: none !important;
    padding: 5px !important;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col {
    margin: 5px;
    line-height: 42px;
}

.fa-burger, .fa-pizza-slice, .fa-ice-cream {
    color: #fc4445;
  }

h3 {
    font-family: 'Bebas Neue', cursive;
    color: #fc4445;

  }
  h4 {
    font-family: 'Bebas Neue', cursive;
    color: #fc4445;

  }
.btn {
background-color: #CAFAFE !important;
color: black !important;
}
  
.modal-content {
    color: black;
}

i {
    color: #fc4445;

}

footer {
    background-color:#F19090 !important;
    color:black !important;
}

#cuisine-card {
    background-color: #39ECCE;
}

.register-link {
    color: #fc4445 !important;
}

.parallax-container {
    height: 400px;
  }

  .parallax-container .parallax img {
   
    opacity: 0.5 !important;

  }

  #mobile-demo {
    background-color: #39ECCE;
  }

  #mobile-demo a {
    color: #fc4445;
  }