<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">        
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Page not found</title>
</head>

<body>

    <header>
        <!--Nav-bar (no links)-->
        <nav class="nav-extended text-shadow" id="navbar">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_review') }}" class="brand-logo left">Fan of Scran</a>
            </div>
        </nav>
    </header>

    <!--Page not found message-->

    <h1 class="center">Whoops! This page could not be found</h1>
    <h4 class="center">
        <a href="{{ url_for('get_review') }}">Click here to go back home</a>
    </h4>
</body>

</html>