<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">        
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Reviews</title>
</head>

<body>

    <header>
        <!-- top navbar -->
       <nav class="nav-extended text-shadow" id="navbar">
           <div class="nav-wrapper">
               <a href="{{ url_for('get_review') }}" class="brand-logo left">Fan of Scran</a>
               <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
               <ul class="right hide-on-med-and-down">
                   <li><a href="{{ url_for('get_review') }}">Home</a></li>
                   {% if session.user %}
                   <li><a href="{{ url_for('all_reviews') }}">Reviews</a></li>
                   <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                   <li><a href="{{ url_for('add_review') }}">New Review</a></li>
                   <li><a href="{{ url_for('get_cuisines') }}">Cuisines</a></li>
                   <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                   {% else %}
                   <li><a href="{{ url_for('login') }}">Log In</a></li>
                   <li><a href="{{ url_for('register') }}">Create Account</a></li>
                   {% endif %}
               </ul>
           </div>
       </nav>
       <!-- mobile sidenav -->
       <ul class="sidenav" id="mobile-demo">
           <li><h3 class="center-align">Fan of Scran</h3></li>
           <li><a href="{{ url_for('get_review') }}">Home</a></li>
           {% if session.user %}
                   <li><a href="{{ url_for('all_reviews') }}">Reviews</a></li>
                   <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                   <li><a href="{{ url_for('add_review') }}">New Review</a></li>
                   <li><a href="{{ url_for('get_cuisines') }}">Cuisines</a></li>
                   <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                   {% else %}
                   <li><a href="{{ url_for('login') }}">Log In</a></li>
                   <li><a href="{{ url_for('register') }}">Create Account</a></li>
                   {% endif %}
       </ul>
   </header>

   <section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashes">
                    <h4 class="center-align">{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Fan of Scran</h5>
          <p class="grey-text text-lighten-4">The place to be to document all of you restaurant visits and browse other reviews to decide where to go next!</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Social</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Instagram <i class="fa-brands fa-instagram"></i></a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Facebook <i class="fa-brands fa-facebook"></i></a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Twitter <i class="fa-brands fa-twitter"></i></a></li>
              <li><a class="grey-text text-lighten-3" href="#!">TikTok <i class="fa-brands fa-tiktok"></i></a></li>
            </ul>
          </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2023 Fan of Scran
      </div>
    </div>
  </footer>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
    </body>

</html>