{% extends "base.html" %}
{% block content %}
<!--Page title-->
<h3 class="center-align">Cuisines</h3>

<!--Cuisine cards-->
<div class="row">
    {% for cuisine in cuisines %}
    <!--Each individual cuisine card-->
    <div class="col s12 m4">
        <div class="card center-align" id="cuisine-card">
            <a href="{{ url_for('get_specific_cuisines', cuisine_name=cuisine.cuisine_name) }}">
                <!--Image of cuisine-->
                <div class="card-image">
                    {% if cuisine.cuisine_name == "British" %}
                    <img src="static/img/british.jpg" alt="Typical british cuisine, roast dinner">
                    {% elif cuisine.cuisine_name == "Chinese" %}
                    <img src="static/img/chinese.jpg" alt="Typical chinese cuisine, noodles">
                    {% elif cuisine.cuisine_name == "French" %}
                    <img src="static/img/french.jpg" alt="Typical french cuisine, cheese and wine">
                    {% elif cuisine.cuisine_name == "Greek" %}
                    <img src="static/img/greek.jpg" alt="Typical greek cuisine, feta and tomato salad">
                    {% elif cuisine.cuisine_name == "Indian" %}
                    <img src="static/img/indian.jpg" alt="Typical indian cuisine, dhal and rice">
                    {% elif cuisine.cuisine_name == "Italian" %}
                    <img src="static/img/italian.jpg" alt="Typical italian cuisine, margherita pizza">
                    {% elif cuisine.cuisine_name == "Mexican" %}
                    <img src="static/img/mexican.jpg" alt="Typical mexican cuisine, tacos and a margarita">
                    {% elif cuisine.cuisine_name == "Spanish" %}
                    <img src="static/img/spanish.jpg" alt="Typical spanish cuisine, tapas">
                    {% else %}
                    <img src="static/img/other.jpg" alt="Example of another cuisine, sushi">
                    {% endif %}
            </a>
        </div>
        <!--Name of cuisine in own language-->
        <div class="card-title">
            <a href="{{ url_for('get_specific_cuisines', cuisine_name=cuisine.cuisine_name) }}">{{ cuisine.cuisine_name }}
                <br>
                {% if cuisine.cuisine_name == "British" %}
                <em>British</em>
                {% elif cuisine.cuisine_name == "Chinese" %}
                <em>中国人</em>
                {% elif cuisine.cuisine_name == "French" %}
                <em>Français</em>
                {% elif cuisine.cuisine_name == "Greek" %}
                <em>Ελληνικά</em>
                {% elif cuisine.cuisine_name == "Indian" %}
                <em>भारतीय</em>
                {% elif cuisine.cuisine_name == "Italian" %}
                <em>Italiano</em>
                {% elif cuisine.cuisine_name == "Mexican" %}
                <em>Mexicano</em>
                {% elif cuisine.cuisine_name == "Spanish" %}
                <em>Español</em>
                {% else %}
                world cuisines!
                {% endif %}
            </a>
        </div>
    </div>
</div>
{% endfor %}

</div>

{% endblock %}