{% extends "base.html" %}
{% block content %}
        
        
    

    <ul class="collapsible">
    {% for review in reviews %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ review.restaurant_name }}</strong>: {{ review.restaurant_location }}
                

            </div>
             <div class="collapsible-body">
                <strong>{{ review.date_visited }}</strong><br>
                <p>Cuisine: {{ review.cuisine_name }}</p>
                <p>Starter: {{ review.starter_description }}</p>
                <p>Main: {{ review.main_description }}</p>
                <p>Dessert: {{ review.dessert_description }}</p>
                <p>Drink: {{ review.drink_description }}</p>
                <p><em>Review by: {{ review.created_by }}</em></p>
                <div class="col s3">
                    {% if session.user|lower == review.created_by|lower %}
                    <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                    <a href="" class="btn-small light-blue lighten-1">Delete</a>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}