{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Cuisines</h3>

    <div class="row">
        {% for cuisine in cuisines %}
            <div class="col s12 m4">

               
                <div class="card center-align" id="cuisine-card">
                        <div class="card-image">
                        {% if cuisine.cuisine_name == "British" %}
                          <img src="static/img/diner.jpg">
                        {% else %}
                        <img src="static/img/diner2.jpg">
                        {% endif %}
                          <span class="card-title">{{ cuisine.cuisine_name }}</span>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('get_specific_cuisines', cuisine_name=cuisine.cuisine_name) }}">See reviews</a>
                          </div>
                </div>
            </div>
            {% endfor %}
    </div>
                <div class="card center-align" id="cuisine-card">
                    <div class="card-content">
                        <span class="card-title">{{ cuisine.cuisine_name }}</span>
                        {% if cuisine.cuisine_name == "British" %}
            <i class="fas fa-face-frown  tooltipped right"
            data-position="right" data-tooltip="Poor"></i>
           
            {% else %}
            <i class="fas fa-face-grin-hearts  tooltipped right"
                data-position="right" data-tooltip="Excellent"></i>
        {% endif %}

                    </div>

                    <div class="card-action">
                        <a href="{{ url_for('get_specific_cuisines', cuisine_name=cuisine.cuisine_name) }}" class="btn">See reviews</a>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}